<% provide(:title, ' 購入手続き ') %>

<h2>購入手続き</h2>

<%= form_tag(cart_path, method: :post) do %>

  <div class="field">
    <%= label(:tel, {},"電話番号") %><br>
    <%= telephone_field :tel, {} %>
  </div>
  <div class="field">
    <%= label(:password, {}, "パスワード") %><br>
    <%= password_field(:password, {}) %>
  </div>

<%= submit_tag("ログイン") %>

<% end %>

<p><%= link_to '→初めて購入する', new_user_path %></p>
