<p id="notice"><%= notice %></p>

<h1>HANATABA（仮）</h1>
<h2>一輪でもHANATABA</h2>
<p>HANATABA（仮）は、いつでもあなたの花欲に応えます。</p>

<ul>
  <li><%= link_to "花を探す", items_path %></li>
  <li>
    <%= link_to "マイページ", edit_user_path if @login == true%>
    <%= link_to "マイページ", new_user_path if @login.nil? %>
  </li>
  <ul>
    <li><%= link_to "カート", user_items_path %></li>
  </ul>
</ul>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Postal code</th>
      <th>Address</th>
      <th>Credit card</th>
      <th>Tel</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.postal_code %></td>
        <td><%= user.address %></td>
        <td><%= user.credit_card %></td>
        <td><%= user.tel %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
