<% provide(:title, ' 登録情報 ') %>
<h2>発注中の商品</h2>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>商品説明</th>
      <th>発注数</th>
      <th>発注日</th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |ci| %>
      <tr>
        <td><%= @items.find(ci.item_id).name %></td>
        <td><%= @items.find(ci.item_id).price %></td>
        <td><%= @items.find(ci.item_id).comment %></td>
        <td><%= ci.amount %></td>
        <td><%= ci.change_status_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>登録情報</h2>

<table class="user_table">
<tr>
  <th>氏名</th>
  <td><%= @user.name %></td>
</tr>

<tr>
  <th>郵便番号</th>
  <td><%= @user.postal_code %></td>
</tr>

<tr>
  <th>住所</th>
  <td><%= @user.address %></td>
</tr>

<tr>
  <th>クレジットカード情報</th>
  <td><%= @user.credit_card %></td>
</tr>

<tr>
  <th>電話番号</th>
  <td><%= @user.tel %></td>
</tr>

<tr>
  <th>メールアドレス</th>
  <td><%= @user.email %></td>
</tr>
</table>

<%= button_to '登録情報を編集する', edit_user_path(@user), method: :get %>

