<% provide(:title, ' 登録情報 ') %>
<h2>登録情報</h2>

<p>
  <strong>氏名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong>住所:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>クレジットカード情報:</strong>
  <%= @user.credit_card %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @user.tel %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<%= button_to '情報を編集する', edit_user_path(@user), method: :get %>

<h3>発注中の花</h3>
<ul>
  <li>あさがお<%= button_to "削除", "#", method: :delete %></li>
  <li>ひまわり<%= button_to "削除", "#", method: :delete %></li>
  <li>バラ<%= button_to "削除", "#", method: :delete %></li>
</ul>
