<% provide(:title, '') %>


<header id="mainImg">

  <%= image_tag 'common/main_content_img.jpg' %>

  <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="field">
      <%= f.label :tel, "電話番号" %>
      <%= f.telephone_field :tel %>
    </div>
    <div class="field">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit "ログイン" %>
  <% end %>

</header>

<nav>
  <ul>
    <li class=""><%= link_to '商品一覧',:controller => 'cart_items' %></li>
    <li class=""><%= link_to "カート" ,:controller => 'cart_items' %></li>
  </ul>
</nav>

<h2>一輪でもHANATABA</h2>
<p>HANATABA（仮）は、いつでもあなたの花欲に応えます。</p>

<p><%= button_to "花を選ぶ", new_cart_item_path, method: :get %></p>
