<%= form_for(@user_item) do |f| %>
  <% if @user_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_item.errors.count, "error") %> prohibited this user_item from being saved:</h2>

      <ul>
      <% @user_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :change_status_date %><br>
    <%= f.date_select :change_status_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
