<h2>商品一覧</h2>

<%= form_tag(cart_items_path, method: :post) do %>

  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>価格</th>
        <th>商品説明</th>
        <th>購入数</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= label("item", item.id, item.name) %></td>
        <td><%= label("item", item.id, item.price) %></td>
        <td><%= item.comment %></td>
        <td><%= number_field("item", item.id, value: 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= submit_tag("買い物かごに入れる") %>

<% end %>
