<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "商品名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price, "価格" %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :comment, "商品説明" %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
