<% provide(:title, ' 商品管理') %>

<h2>商品管理</h2>

<p>
  <strong>商品名:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>価格:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>商品説明:</strong>
  <%= @item.comment %>
</p>

<%= link_to '編集', edit_item_path(@item) %> |
<%= link_to '戻る', admin_path %>
