<!DOCTYPE html>
<html>
<head>
  <title>HANATABA <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless yield(:title).empty? %>
  <header class="clearfix">

    <%= render 'layouts/nav' %>

  </header>

<% end %>

<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
