<!DOCTYPE html>
<html>
<head>
  <title>HANATABA（仮） <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
<h1><%= link_to "HANATABA（仮）", root_path %></h1>
 -->
<!-- <header>
  <ul>
    <li><%= link_to "花を選ぶ", new_cart_item_path %></li>
    <li>
      <% if loggedin? %>
        <%= link_to "マイページ", current_user %>
      <% else %>
        <%= link_to "登録", new_user_path %>
      <% end %>
    </li>
    <ul>
      <li><%= link_to "カート", cart_items_path %></li>
    </ul>
  </ul>
</header> -->

<p id="notice"><%= notice %></p>

<%= yield %>

<%= debug(params) %>
<%= debug( Hash[ CartItem.ids.zip CartItem.all.map(&:status) ] ) %>

</body>
</html>
